@import '../css/_variables';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: -apple-system, Roboto, Arial, sans-serif;
    font-size: $text-md;
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

ul, ol, li {
    list-style: none;
}

img {
    height: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.75rem;
    line-height: 1.2;
}

.v-expansion-panel-title__overlay,
.v-list-item__overlay {
    display: none;
}

.v-list-item {
    padding: 4px 0 !important;
    min-height: 32px !important;
}

.v-field {
    border-radius: 4px;
    box-shadow: $shadow !important;
}

.v-input__details {
    display: none;
}

